/* index.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/src/images/Ethereum\ Blockchain\ Illustration.png');
  background-size: cover;
  background-position: center;
  color: #7a83e5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app-container {
  width: 100%;
  padding: 25px;
  background-color: rgba(39, 44, 50, 0.7); /* Adjust the alpha value */
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 60px; 
}

header h1 {
  color: #7a83e5;
  font-size: 28px;
  margin: 0;
}

header p {
  font-size: 16px;
  color: #ccc;
  margin: 0;
}

nav {
  background-color: #272c32;
  padding: 10px 0;
  border-radius: 8px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #d2e0ef;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #f5f5f5;
}

input[type='text'] {
  padding: 10px;
  border: none;
  border-radius: 6px;
  margin-bottom: 15px;
  background-color: #272c32;
  color: #f5f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

input[type='text']:focus {
  background-color: #1f242a;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

button {
  padding: 10px 20px;
  background-color: #7a83e5;
  color: #f5f5f5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #bbd4ef;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #1f242a;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
}

h2 {
  margin-top: 0;
  color: #e7f3ff;
}
